.advantages__container.container {
  position: relative;

  @media (min-width: $desktop-width) {
    padding: unset;
  }
}

.advantages__heading {
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
  }

  &::before {
    position: absolute;
    content: attr(data-heading);
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    opacity: 3%;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      font-size: 40px;
      line-height: 40px;

      // margin: 0 0 46px;
    }

    @media (min-width: $desktop-width) {
      font-size: 55px;
      line-height: 55px;

      // margin: 0 0 57px;
    }
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    all: unset;
  }
}

.advantages__item.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid hsla(209, 98%, 38%, 0.102);
  padding: 20px 10px;
  align-items: center;
  width: 290px;
  height: auto; // или фиксированную

  @media (min-width: $tablet-width) {
    padding: 30px 20px;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 20px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    top: 20px;

    @media (min-width: $tablet-width) {
      top: 30px;
      width: 48px;
      height: 48px;
    }

    @media (min-width: $desktop-width) {
      top: 40px;
      width: 54px;
      height: 54px;
    }
  }
}

.advantages__item--safety::after {
  background-image: url("/__spritemap#sprite-safety-view");
}

.advantages__item--expertise::after {
  background-image: url("/__spritemap#sprite-expertise-view");
}

.advantages__item--equipment::after {
  background-image: url("/__spritemap#sprite-equipment-view");
}

.advantages__item--routes::after {
  background-image: url("/__spritemap#sprite-routes-view");
}

.advantages__item--eco::after {
  background-image: url("/__spritemap#sprite-eco-view");
}

.advantages__item h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  margin: 62px 0 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin: 73px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 84px 0 0;
    font-size: 18px;
    line-height: 18px;
  }
}

.advantages__item p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }
}

.advantages__navigation {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 4px;
    position: absolute;
    content: "";
    width: 100px;
    height: 20px;
    bottom: 0;
    right: 50%; // to change
    z-index: 1;

    // justify-content: flex-end;
  }
}
