.reviews {
  margin: 0;
  padding: 36px 15px 23px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 17px;
  }
  @media (min-width: $desktop-width) {
    padding: 145px 0 67px;
  }
}
.reviews__slide.swiper-slide.swiper-slide-active,
.reviews__slide.swiper-slide {
  all: unset;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);

  // border: 1px solid red;
  padding: 20px 20px 0 20px;
  // padding: 20px;
  display: flex;
  flex-flow: column wrap;
  // gap: 20px;
  max-width: 290px;
  // margin-left: -15px;

  @media (min-width: $tablet-width) {
    flex-flow: row nowrap;
    padding: 20px 30px 0 20px;
    gap: 30px;
    box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
    width: 565px;
    max-width: 565px;
  }

  @media (min-width: $desktop-width) {
    box-shadow: 0 0 20px 0 #1c33741a;
    max-width: 700px;
  }
}

.reviews__swiper-heading {
  margin: 0 0 32px -15px;
  padding: 0;
font-size: 22px;
font-weight: 800;
line-height: 22px;
text-align: left;
position: relative;

  &::before {
    position: absolute;
    content: attr(data-heading);
    font-size: 26px;
    line-height: 26px;
    text-align: left;
    opacity: 3%;
    top: -12px;

    @media (min-width: $tablet-width) {
      font-size: 40px;
      line-height: 40px;
      top: -17px;
    }

    @media (min-width: $desktop-width) {
      font-size: 55px;
      line-height: 55px;
      top: -38px;
    }
  }
  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 10px;

  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 18px;
  }
}

.reviews__swiper-image {
  display: block;
  margin-bottom: 20px;
}

.reviews p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 22px;
    width: 352px;
  }
}

.reviews p:first-of-type {
  margin-bottom: 10px; //?
}

.reviews p:last-of-type {
  margin-bottom: 15px; //?

  @media (min-width: $tablet-width) {
    margin-bottom: 25px; //?
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 4px; //?
  }
}

.reviews__slide-content {
  display: flex;
  flex-flow: column wrap;

  @media (min-width: $tablet-width) {
    margin-top: 4px;
    width: 299px;
  }

  @media (min-width: $desktop-width) {
    width: 362px;
    margin-top: -2px;
  }
}

.reviews__author-name {
  margin: 0 0 8px;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin: 0 0 7px;
    font-size: 13px;
    line-height: 13px;
  }
  @media (min-width: $desktop-width) {

  margin: 0 0 8px;}

}

.reviews__author p:last-of-type {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
}

.reviews__swiper-container {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 320px;

  // padding: 15px 0;

  @media (min-width: $tablet-width) {
    // padding: 0 0 0 45px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;

    // padding: 0 0 0 120px;
  }
}

.reviews__swiper-navigation.swiper-navigation {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 4px;
    position: absolute;
    content: "";
    width: 100px;
    height: 20px;
    top: -35px;
    right: 45px;
    z-index: 1;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    right: 120px;
    top: -53px;
  }
}

.reviews__swiper.swiper {
  // padding: 50px;
  padding: 15px;
  margin: -15px;
  overflow: hidden;



  @media (min-width: $tablet-width) {
    padding: unset;
    margin: unset;
    }
}

.reviews__swiper .swiper-wrapper {
  // padding: 15px;
  // margin: -15px;
  // overflow: hidden;


  @media (min-width: $tablet-width) {
    padding: 25px 25px 25px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 20px 20px 130px;
  }
}
