.tours {
  margin: 0;
  padding: 36px 0 20px;

  // position: relative;

  @media (min-width: $tablet-width) {
    padding: 60px 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 123px 0 100px;
  }
}

.tours__heading {
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  text-align: left;
  margin: 3px 0 39px;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 35px;
    max-width: 578px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 50px;
    max-width: 878px;

  }

  &::before {
    position: absolute;
    content: attr(data-heading);
    font-size: 26px;
    line-height: 26px;
    text-align: left;
    opacity: 3%;
    top: -14px;

    @media (min-width: $tablet-width) {
      font-size: 40px;
      line-height: 40px;
    }

    @media (min-width: $desktop-width) {
      font-size: 55px;
      line-height: 55px;
    }
  }
}


.tours__swiper-container {
  position: relative;
}

.tours__slide.swiper-slide {
  margin: 0 0 25px;
  padding: 30px 20px;
  min-height: 416px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;

  @media (min-width: $desktop-width) {
    margin: 0 0 53px;
  }
}

.tours__slide-caucasus {
  background-color: #37798f;
  background-image:
    image-set(url("../../img/images/tours-caucasus-mobile@1x.webp") 1x,
    url("../../img/images/tours-caucasus-mobile@2x.webp") 2x,
    url("../../img/images/tours-caucasus-mobile@1x.jpg") 1x,
    url("../../img/images/tours-caucasus-mobile@2x.jpg") 2x,
  );
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;

  @media (min-width: $tablet-width) {
    background-image:
      image-set(url("../../img/images/tours-caucasus-tablet@1x.webp") 1x,
      url("../../img/images/tours-caucasus-tablet@2x.webp") 2x,
      url("../../img/images/tours-caucasus-tablet@1x.jpg") 1x,
      url("../../img/images/tours-caucasus-tablet@2x.jpg") 2x,
    );
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(url("../../img/images/tours-caucasus-desktop@1x.webp") 1x,
      url("../../img/images/tours-caucasus-desktop@2x.webp") 2x,
      url("../../img/images/tours-caucasus-desktop@1x.jpg") 1x,
      url("../../img/images/tours-caucasus-desktop@2x.jpg") 2x,
    );
  }
}

.tours__slide-altai {
  background-color: #37798f;
  background-image:
    image-set(url("../../img/images/tours-altai-mobile@1x.webp") 1x,
    url("../../img/images/tours-altai-mobile@2x.webp") 2x,
    url("../../img/images/tours-altai-mobile@1x.jpg") 1x,
    url("../../img/images/tours-altai-mobile@2x.jpg") 2x,
  );
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;

  @media (min-width: $tablet-width) {
    background-image:
      image-set(url("../../img/images/tours-altai-tablet@1x.webp") 1x,
      url("../../img/images/tours-altai-tablet@2x.webp") 2x,
      url("../../img/images/tours-altai-tablet@1x.jpg") 1x,
      url("../../img/images/tours-altai-tablet@2x.jpg") 2x,
    );
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(url("../../img/images/tours-altai-desktop@1x.webp") 1x,
      url("../../img/images/tours-altai-desktop@2x.webp") 2x,
      url("../../img/images/tours-altai-desktop@1x.jpg") 1x,
      url("../../img/images/tours-altai-desktop@2x.jpg") 2x,
    );
  }
}

.tours__slide-adygeya {
  background-color: #37798f;
  background-image:
    image-set(url("../../img/images/tours-adygeya-mobile@1x.webp") 1x,
    url("../../img/images/tours-adygeya-mobile@2x.webp") 2x,
    url("../../img/images/tours-adygeya-mobile@1x.jpg") 1x,
    url("../../img/images/tours-adygeya-mobile@2x.jpg") 2x,
  );
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;

  @media (min-width: $tablet-width) {
    background-image:
      image-set(url("../../img/images/tours-adygeya-tablet@1x.webp") 1x,
      url("../../img/images/tours-adygeya-tablet@2x.webp") 2x,
      url("../../img/images/tours-adygeya-tablet@1x.jpg") 1x,
      url("../../img/images/tours-adygeya-tablet@2x.jpg") 2x,
    );
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(url("../../img/images/tours-adygeya-desktop@1x.webp") 1x,
      url("../../img/images/tours-adygeya-desktop@2x.webp") 2x,
      url("../../img/images/tours-adygeya-desktop@1x.jpg") 1x,
      url("../../img/images/tours-adygeya-desktop@2x.jpg") 2x,
    );
  }
}

.tours__slide-ural {
  background-color: #37798f;
  background-image:
    image-set(url("../../img/images/tours-ural-mobile@1x.webp") 1x,
    url("../../img/images/tours-ural-mobile@2x.webp") 2x,
    url("../../img/images/tours-ural-mobile@1x.jpg") 1x,
    url("../../img/images/tours-ural-mobile@2x.jpg") 2x,
  );
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;

  @media (min-width: $tablet-width) {
    background-image:
      image-set(url("../../img/images/tours-ural-tablet@1x.webp") 1x,
      url("../../img/images/tours-ural-tablet@2x.webp") 2x,
      url("../../img/images/tours-ural-tablet@1x.jpg") 1x,
      url("../../img/images/tours-ural-tablet@2x.jpg") 2x,
    );
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(url("../../img/images/tours-ural-desktop@1x.webp") 1x,
      url("../../img/images/tours-ural-desktop@2x.webp") 2x,
      url("../../img/images/tours-ural-desktop@1x.jpg") 1x,
      url("../../img/images/tours-ural-desktop@2x.jpg") 2x,
    );
  }
}

.tours__characteristics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 12px 0;
}

.tours__duration {
  display: flex;
  flex-flow: row wrap;

  // justify-content: space-between;
  gap: 15px;
}

.tours__location {
  margin: 0;
  padding: 8px 12px 8px 34px;
  background-color: $primary-blue;
  display: flex;
  width: fit-content;
  color: $primary-white;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    mask: url("/__spritemap#sprite-pin-view") no-repeat center;
    background-color: $primary-white;
    width: 9px;
    height: 12px;
    left: 16px;
  }
}

.tours__duration-days {
  margin: 0;
  padding: 3px 0 4px 33px;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  color: $primary-white;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    mask: url("/__spritemap#sprite-sun-view") no-repeat center;
    background-color: $primary-white;
    width: 20px;
    height: 20px;
    left: 0;
    top: 4px;
  }
}

.tours__duration-nights {
  margin: 0;
  padding: 3px 0 4px 31px;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  color: $primary-white;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    mask: url("/__spritemap#sprite-moon-view") no-repeat center;
    background-color: $primary-white;
    width: 20px;
    height: 20px;
    left: 0;
    top: 4px;
  }
}

.tours__title {
  margin: 0 0 15px;
  padding: 0 0 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: $primary-white;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 1px;
    background-color: $primary-white;
    opacity: 20%;
    left: 0;
    bottom: 0;
  }
}

.tours__details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tours__details div {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
  color: $primary-white;
}

.tours__details .tours__date-value,
.tours__details .tours__group-value {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  text-align: left;
  margin-top: 7px;
}


.tours__details .tours__level-stars {
  display: flex;
  margin-top: 4px;
  gap: 1px;
  width: 84px;
}

.tours__level-star {
  margin: 0;
  padding: 0;
  display: block;
  mask: url("/__spritemap#sprite-star-empty-view") no-repeat center;
  background-color: $primary-white;
  width: 16px;
  height: 16px;

  &--filled {
    mask: url("/__spritemap#sprite-star-filled-view") no-repeat center;
  }
}

.tours__swiper-navigation {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 4px;
    position: absolute;
    content: "";
    width: 100px;
    height: 20px;
    top: -60px;
    right: 0; // to change
    z-index: 1;
    justify-content: flex-end;

    @media (min-width: $desktop-width) {
      top: -88px;
    }
  }
}

// .tours__button {
//   display: flex;
//   margin: 0;
//   padding: 0;
//   width: 37px;
//   height: 35px;
//   position: relative;
//   align-items: center;
//   justify-content: center;
//   transition: background-color 0.3s ease;
// }


.tours__link {
  color: $primary-dark;
  text-decoration: none;
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 10px 28px 10px 10px;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: fit-content;
  transition: all 0.3s ease;

  &::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 14px;
    mask: url("/__spritemap#sprite-link-arrow-view") no-repeat center;
    background-color: $primary-dark;
    right: 8px;
    transition: all 0.3s ease;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.04em;
  }

  &:hover {
    color: rgba(2, 102, 193, 0.1);
  }

  &:hover::before {
    background-color: rgba(2, 102, 193, 0.1);
  }

  &:focus,
  &:focus-within {
    color: $primary-blue;
    outline: none;
  }

  &:focus::before,
  &:focus-within::before {
    background-color: $primary-blue;
  }

  &:active {
    color: #1c3374;
  }

  &:active::before {
    background-color: #1c3374;
  }
}

.tours__link[aria-disabled="true"] {
  color: #999999;
}

.tours__link[aria-disabled="true"]::before {
  background-color: #999999;
}
