.training {
margin: 0;
padding: 20px 0;
}
.training__heading {
font-size: 22px;
font-weight: 800;
line-height: 22px;
text-align: left;
margin: 0 0 35px;
padding: 0;
position: relative;

&::before {
  position: absolute;
  content: attr(data-heading);
  font-size: 26px;
  line-height: 26px;
  text-align: left;
  opacity: 3%;
  top: -12px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
    line-height: 55px;
  }
}
}

.training p {
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
margin: 0 0 25px;
padding: 0;
}

.training__swiper-heading {
font-size: 22px;
font-weight: 800;
line-height: 22px;
text-align: left;
margin: 0 0 25px;
padding: 0;

}

.training__swiper-container {
  position: relative;
}


.training__slide.swiper-slide {
  border: 1px solid #0266C11A;
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
}

.training__swiper-image {
  display: block;
  margin: 0 0 15px;
  padding: 0;
}

.training__slide h3 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  max-width: 170px;
}

.training__slide p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.training__trainer-social-link {
  position: absolute;
  content: "";
  top: 230px;
  right: 15px;
  width: 24px;
  height: 24px;
  display: flex;
  border: 1px solid rgba(45, 56, 63, 0.3);
  justify-content: center;
  align-items: center;

  &:hover {
    border-color:  $primary-dark;
  }

  &:focus,
  &:focus-within {
    border-color: transparent;
    outline: none;
  }
  &:active {
    background-color: $primary-blue;
    border-color: $primary-blue;

  }

  &::before {
    position: absolute;
    content: "";
    mask: url("/__spritemap#sprite-Vk-view") center no-repeat;
    background-color: $primary-dark;
    width: 14px;
    height: 8px;
  }

  &:active::before {
    background-color: $primary-white;
    }
}

.training__trainer-social-link[aria-disabled="true"] {
  pointer-events: none;
  opacity: 30%;
}

