.training {
  margin: 0;
  padding: 37px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 63px 0 65px;
  }
}

.training__heading {
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  text-align: left;
  margin: 0 0 33px;
  padding: 0;
  position: relative;

  &::before {
    position: absolute;
    content: attr(data-heading);
    font-size: 26px;
    line-height: 26px;
    text-align: left;
    opacity: 3%;
    top: -12px;

    @media (min-width: $tablet-width) {
      font-size: 40px;
      line-height: 40px;
    }

    @media (min-width: $desktop-width) {
      font-size: 55px;
      line-height: 55px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
  }
}

.training p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 0 0 28px;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 678px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 820px;
    margin: 0 0 61px;
  }
}

.training__swiper p {
  width: unset;
}

.training__swiper-heading {
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  text-align: left;
  margin: 0 0 22px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 38px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 15px;
  }
}

.training__swiper-container {
  position: relative;
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}


.training__slide.swiper-slide {
  border: 1px solid rgba(2, 102, 193, 0.1);
  padding: 15px 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  background-color: $primary-white;

  @media (min-width: $tablet-width) {
    min-height: 388px;
    padding: 15px 14px;
  }

  @media (min-width: $desktop-width) {
    min-height: 356px;
    padding: 15px 14px;
  }
}

.training__swiper-image {
  display: block;
  margin: 0 0 15px;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin: 0 0 16px;
  }
}

.training__slide h3 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  max-width: 170px;

  @media (min-width: $tablet-width) {
    margin: 0 0 14px;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
  }
}

.training__slide p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.training__trainer-social-link {
  position: absolute;
  content: "";
  top: 230px;
  right: 14px;
  width: 24px;
  height: 24px;
  display: flex;
  border: 1px solid rgba(45, 56, 63, 0.3);
  justify-content: center;
  align-items: center;

  &:hover {
    border-color: $primary-dark;
  }

  &:focus,
  &:focus-within {
    border-color: transparent;
    outline: none;
  }

  &:active {
    background-color: $primary-blue;
    border-color: $primary-blue;
  }

  &::before {
    position: absolute;
    content: "";
    mask: url("/__spritemap#sprite-Vk-view") center no-repeat;
    background-color: $primary-dark;
    width: 14px;
    height: 8px;
  }

  &:active::before {
    background-color: $primary-white;
  }
}

.training__trainer-social-link[aria-disabled="true"] {
  pointer-events: none;
  opacity: 30%;
}

.training__process {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  gap: 25px;
  position: relative;

  @media (min-width: $tablet-width) {
    gap: 104px;
  }

  @media (min-width: $desktop-width) {
    gap: 23px;
  }
}

.training__process-wrapper {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  gap: 25px;


  &::after {
    position: absolute;
    content: "";
    display: flex;
    width: 2px;
    background-color: $primary-blue;
    left: 6px;
    height: calc((100%) - 22px);
    margin: 11px 0 0;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      content: "";
      background-color: $primary-blue;
      margin: 0;
      display: flex;
      height: 2px;
      width: 1180px;
      bottom: -10px;
      left: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 232px 272px;
    grid-template-rows: auto;
    row-gap: 104px;
    column-gap: 174px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-flow: row wrap;
    gap: 0;
    padding: 0 0 0 11px;
  }
}

.training .training__process-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin: 0 0 24px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 102px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 21px;
    margin: 0 0 26px;
  }
}

.training__process-item {
  list-style: none;
  margin: 0;
  padding: 0 0 0 63px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 35px;
    width: 235px;
  }

  @media (min-width: $desktop-width) {
    width: 253px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-color: $primary-blue;
    border-radius: 50%;
    left: 0;
    top: 11px;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      position: absolute;
      content: "";
      width: 14px;
      height: 14px;
      background-color: $primary-blue;
      border-radius: 50%;
      top: unset;
      bottom: -16px;
      left: 10px;
    }
  }
}

.training__process-item--equipment {
  @media (min-width: $tablet-width) {
    grid-column: 1;
  }
}

.training__process-item--ecology,
.training__process-item--obstacles {
  @media (min-width: $tablet-width) {
    grid-column: 2;
  }
}

.training__process-item--ecology {
  @media (min-width: $tablet-width) {
    grid-row: 2;
  }

  @media (min-width: $desktop-width) {
    padding-right: 15px;

    &::before {
      left: -10px;
    }
  }
}

.training__process-item--obstacles {
  @media (min-width: $tablet-width) {
    grid-row: 1;
  }
}

.training__process-item--map::after {
  position: absolute;
  content: "";
  mask: url("/__spritemap#sprite-map-view") no-repeat center;
  background-color: $primary-dark;
  width: 25px;
  height: 25px;
  top: 0;
  left: 30px;

  @media (min-width: $tablet-width) {
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: 2px;
  }
}

.training__process-item--equipment::after {
  position: absolute;
  content: "";
  mask: url("/__spritemap#sprite-boots-view") no-repeat center;
  background-color: $primary-dark;
  width: 25px;
  height: 25px;
  top: 0;
  left: 30px;

  @media (min-width: $tablet-width) {
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: 2px;
  }
}

.training__process-item--ecology::after {
  position: absolute;
  content: "";
  mask: url("/__spritemap#sprite-pine-tree-view") no-repeat center;
  background-color: $primary-dark;
  width: 25px;
  height: 25px;
  top: 0;
  left: 30px;

  @media (min-width: $tablet-width) {
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: 2px;
  }
}

.training__process-item--obstacles::after {
  position: absolute;
  content: "";
  mask: url("/__spritemap#sprite-mountain-view") no-repeat center;
  background-color: $primary-dark;
  width: 25px;
  height: 25px;
  top: 0;
  left: 30px;

  @media (min-width: $tablet-width) {
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: 2px;
  }
}

.training .training__process-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.training__process-item--obstacles .training__process-description {
  width: 200px;
}
