.overlay-active {
  position: absolute;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 56, 63, 0.6);
  z-index: 20;
  // mix-blend-mode:inherits;
// mix-blend-mode: screen;
// will-change: background, transform;
}

//doesnt work
